:root {
  --dark: #2E2F42;
  --primary-brand: #4D5AE5;
  --pressed-state: #404BBF;
  --text: #434455;
  --white-background: #FFFFFF;
  --light: #F4F4FD;
}

/* #region Base styles */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: var(--text);
  background-color: var(--white-background);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--dark);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark);
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* #endregion */

/* #region Logo */

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-brand);
}

.nav .logo .logo-wrapper {
  color: var(--dark);
}

/* #endregion */

/* #region Header */

.menu-link, .address {
  font-style: normal;
}

.menu-link {
  color: var(--dark);
  font-weight: 500;
}

.address-link {
  color: #434455;
}

.menu-link:hover, .menu-link:active, .menu-link:focus,
.address-link:hover, .address-link:active, .address-link:focus {
  color: var(--pressed-state);
}

/* #endregion */

/* #region Hero*/

.hero {
  background-color: var(--dark);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--white-background);
  letter-spacing: 0.02em;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-brand);
  border: 1px solid var(--primary-brand);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--white-background);
  text-align: center;
  cursor: pointer;
}

.hero-btn:hover, .hero-btn:focus {
  background-color: var(--pressed-state)
}

/* #endregion */

/* #region Our Team*/

.team {
  background-color: var(--light);
}

.team-member {
  background-color: var(--white-background);
}

/* #endregion */

/* #region Footer*/
.footer {
  background-color: var(--dark);
}

.footer .logo .logo-wrapper {
  color: var(--white-background);
}

.footer-promo {
  color: var(--light);
}

/* #endregion */