:root {
  --dark: #2E2F42;
  --primary-brand: #4D5AE5;
  --pressed-state: #404BBF;
  --text: #434455;
  --white-background: #FFFFFF;
  --light: #F4F4FD;
  --light-slate: #8E8F99;
  --accent: #E7E9FC;
  --success: #31D0AA;
  --modal-background: #FCFCFC;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #region Base styles */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: var(--text);
  background-color: var(--white-background);
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  border: none;
  background-color: transparent;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--dark);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.item-content-wrapper {
  padding: 32px 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* #endregion */

/* #region Logo */

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-brand);
}

.nav .logo .logo-wrapper {
  color: var(--dark);
}

/* #endregion */

/* #region Header */

.header {
  border-bottom: 1px solid var(--accent);
  padding: 16px 0;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  margin-right: 76px;
  display: inline-block;
}

.header-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
}

.menu, .address-wrapper {
  align-items: center;
  display: flex;
  gap: 40px;
}

.menu {
  gap: 40px;
}

.menu-link, .address {
  font-style: normal;
}

.menu-link {
  display: block;
  color: var(--dark);
  font-weight: 500;
  padding: 24px 0;
  transition: color var(--transition);
}

.menu-link.active {
  position: relative;
  color: var(--pressed-state);
}

.menu-link.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state);
}

.address-link {
  color: #434455;
  transition: color var(--transition);
  font-size: 12px;
  line-height: 1.16;
}

.menu-link:hover, .menu-link:active, .menu-link:focus,
.address-link:hover, .address-link:active, .address-link:focus {
  color: var(--pressed-state);
}

.menu, .address {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0;
  }

  .header-menu-btn {
    display: none;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .menu, .address {
    display: flex;
  }

  .address-wrapper {
    padding: 6px 0;
    flex-direction: column;
    gap: 8px;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1158px) {
  .address-wrapper {
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* #endregion */

/* #region Hero*/

.hero {
  background-color: var(--dark);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-image-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 72px 0px;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--white-background);
  letter-spacing: 0.02em;
  max-width: 216px;
  margin: 0 auto 72px auto;
}

.btn-accent {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-brand);
  border: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--white-background);
  text-align: center;
  cursor: pointer;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  transition: background-color var(--transition);
}

.btn-accent:hover, .btn-accent:focus {
  background-color: var(--pressed-state)
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/hero-image-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/hero-image-tablet.jpg");
    padding: 112px 0;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px auto;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-image-tablet@2x.jpg');
  }

  .hero-title {
    margin: 0 auto 48px auto;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/hero-image.jpg");
    padding: 188px 0;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/hero-image@2x.jpg");
  }
}

/* #endregion */

/* #region Features*/

.features {
  display: flex;
  justify-content: space-between;
  gap: 72px;
  flex-wrap: wrap;
}

.feature {
  flex-basis: 100%;
}

.feature-icon-wrapper {
  display: none;
}

.feature-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features {
    gap: 72px 24px;
  }

  .feature {
    flex-basis: calc((100% - 24px) / 2);
  }

  .feature-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .features {
    gap: 24px;
  }

  .feature {
    flex-basis: calc((100% - 24px * 3) / 4);
  }

  .feature-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    padding: 24px;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    background-color: var(--light);
    margin-bottom: 8px;
  }

  .icon {
    display: block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .feature .icon {
    margin: 0 auto;
  }

  .feature-title {
    margin-top: 8px;
    font-size: 20px;
    line-height: 1.2;
  }
}

/* #endregion */

/* #region Our Team*/

.team {
  background-color: var(--light);
}

.team-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.team-member {
  flex-basis: 100%;
  max-width: 264px;
  background-color: var(--white-background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}

.team-member .item-content-wrapper {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team-wrapper {
    gap: 64px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team-wrapper {
    gap: 24px;
  }
}

/* #endregion */

/* #region Socials*/

.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  fill: var(--light);
}

.socials-item {
  width: 40px;
  height: 40px;
}

.socials-link {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}

.team-member-socials .socials-link:hover,
.team-member-socials .socials-link:focus {
  background-color: var(--pressed-state);
}

.team-member-socials.socials {
  padding: 0 16px;
  margin-top: 8px;
}

.footer-socials.socials {
  margin-top: 16px;
  gap: 16px;
}

.footer-socials .socials-link:hover,
.footer-socials .socials-link:focus {
  background-color: var(--success);
}

.modal-socials {
  justify-content: space-between;
  margin-top: 48px;
}

/* #endregion */

/* #region Portfolio*/

.portfolio-wrapper {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-item {
  flex-basis: 100%;
  transition: box-shadow var(--transition);
}

.portfolio-item .item-content-wrapper {
  border: 1px solid var(--accent);
  border-top: none;
  padding-left: 16px;
  padding-right: 16px;
}

.item-image-wrapper {
  position: relative;
  overflow: hidden;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--transition);
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  color: var(--light);
  background-color: var(--primary-brand);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .image-overlay {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .portfolio-wrapper {
    gap: 48px 24px;
  }

  .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item {
    flex-basis: calc((100% - 24px * 2) / 3);
  }
}

/* #endregion */

/* #region Footer*/
.footer {
  background-color: var(--dark);
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.footer .wrapper {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 72px;
}

.social-col {
  width: 208px;
  margin: 0 auto;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .logo .logo-wrapper {
  color: var(--light);
}

.footer-promo {
  color: var(--light);
  text-align: left;
}

.footer-title {
  font-weight: 500;
  color: var(--white-background);
  margin-bottom: 16px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.subscribe-form-input {
  width: 288px;
  height: 40px;
  padding: 8px 16px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
}

.subscribe-form-input::placeholder {
  color: var(--white-background);
}

.subscribe-btn {
  display: flex;
  align-items: center;
  fill: var(--white-background);
  height: 40px;
  min-width: 165px;
  justify-content: center;
}

.subscribe-icon {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: left;
  }

  .footer .wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
    padding-left: 92px;
  }

  .footer-promo {
    width: 264px;
  }

  .social-col {
    margin: unset;
  }

  .subscribe {
    flex-direction: row;
  }

  .subscribe-form-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer .wrapper {
    flex-wrap: nowrap;
    padding-left: 0;
  }

  .promo-col {
    margin-right: 120px;
  }

  .social-col {
    margin-right: 80px;
  }
}

/* #endregion */

/* #region Modal*/

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  padding-top: 72px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: var(--modal-background);
  border-radius: 4px;
  padding: 72px 24px 24px;
  box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F, 0px 2px 1px 0px #00000033;
  width: 95%;
  min-height: 95%;
  overflow-y: auto;
  transition: transform var(--transition);
}

.is-open .modal {
  transform: translate(-50%, -50%);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  width: 24px;
  height: 24px;
  background-color: var(--accent);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  transition-property: background-color, border;
}

.modal-menu .modal-close-btn {
  background-color: var(--white-background);
}

.modal-close-btn:hover, .modal-close-btn:focus {
  background-color: var(--pressed-state);
  border: none;
}

.modal-close-icon {
  fill: var(--dark);
  transition: fill var(--transition);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--white-background);
}

.modal-caption {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--dark);
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.modal-form-wrapper {
  position: relative;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 13px 13px 13px 38px;
  line-height: 1.17;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color var(--transition);
}

.modal-form-input:focus {
  border-color: var(--primary-brand);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: var(--dark);
  transform: translateY(-50%);
  transition: fill var(--transition);
}

.modal-form-input:focus+.modal-form-icon {
  fill: var(--primary-brand);
}

.modal-form-comment {
  display: block;

  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  resize: none;
  transition: border-color var(--transition);
}

.comment {
  margin-bottom: 16px;
}

.modal-form-comment:focus {
  border-color: var(--primary-brand);
}

.modal-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-agreement {
  margin-bottom: 24px;
}

.modal-form-desc {
  letter-spacing: 0.04em;
  font-size: 12px;
  line-height: 1.17;
  color: var(--light-slate);
}

.modal-form-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: var(--transition);
  transition-property: border, background-color, fill;
  fill: transparent;
}

input[type='checkbox']:checked+.modal-form-desc>.modal-form-checkbox {
  border: none;
  background-color: var(--pressed-state);
  fill: var(--light);
}

.modal-form-link {
  color: var(--primary-brand);
}

.form-btn {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}

/* #endregion */

/* #region Mobile menu*/

.modal-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;
  background-color: var(--white-background);
  padding-top: 72px;
  padding-bottom: 40px;
}

.modal-menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.modal-menu.is-open {
  display: block;
}

.menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.menu-nav-link.active {
  color: var(--pressed-state);
}

.menu-item:not(:first-child) {
  margin-top: 40px;
}

.menu-address-link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  font-style: normal;
}

.menu-address-link.phone {
  color: var(--primary-brand);
  margin-bottom: 24px;
}

/* #endregion */